<div class="grid">
  <div class="col-12">
    <div class="flex justify-content-center align-content-center text-align-center flex-wrap gap-5">

      <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
        <p-card
          styleClass="mt-10"
          header="Login"
          subheader="Faça login com sua conta existente!" *ngIf="loginCard">

          <div class="flex justify-content-center align-content-center text-align-center">
            <input type="email" formControlName="email" pInputText placeholder="Email" />
          </div>

          <div class="flex justify-content-center align-content-center text-align-center mt-3">
            <input type="password" formControlName="password" pInputText placeholder="Senha" />
          </div>

          <div class="card flex justify-content-center mt-3">
            <button type="submit" pButton pRipple label="Login"></button>
          </div>

          <span class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold"
          style="cursor: pointer;"
          (click)="loginCard= !loginCard">
            Criar Conta
          </span>

        </p-card>
      </form>

      <form [formGroup]="sigupForm" (ngSubmit)="onSubmitSingUpForm()">
        <p-card
          styleClass="mt-10"
          header="Criar conta"
          subheader="Crie já sua conta gratuita!" *ngIf="!loginCard">

          <div class="flex justify-content-center align-content-center text-align-center">
            <input type="text" pInputText placeholder="Nome" formControlName="name" />
          </div>

          <div class="flex justify-content-center align-content-center text-align-center mt-3">
            <input type="email" pInputText placeholder="Email" formControlName="email" />
          </div>

          <div class="flex justify-content-center align-content-center text-align-center mt-3">
            <input type="password" pInputText placeholder="Senha" formControlName="password" />
          </div>

          <div class="card flex justify-content-center mt-3">
            <button type="submit" pButton pRipple label="Criar Conta"></button>
          </div>

          <span class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold"
          style="cursor: pointer;"
          (click)="loginCard = !loginCard">
            Fazer login
          </span>

        </p-card>
      </form>

    </div>
  </div>
</div>
