.grid{
  background-image: url(../home/../../../assets/sean-pollock-PhYq704ffdA-unsplash.jpg) !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vmin;
}

@media screen and (min-width: 1400px) {
  .grid {
   background-position: top;
  }
}

@media screen and (min-width: 1000px) {
  .grid {
  height : 10vmax;
  }
}
